vti_encoding:SR|utf8-nl
vti_author:SR|ERCA-VAIO\\Va56
vti_modifiedby:SR|ERCA-VAIO\\Va56
vti_timelastmodified:TR|28 Dec 2015 18:59:14 -0000
vti_timecreated:TR|19 Dec 2015 17:42:25 -0000
vti_extenderversion:SR|12.0.0.0
vti_backlinkinfo:VX|Contact.html Galerie.html editari.html Evenimente.html Meniu.html Stiri.html Despre.html Oferte.html index.html
vti_nexttolasttimemodified:TW|28 Dec 2015 18:59:05 -0000
vti_cacheddtm:TX|28 Dec 2015 18:59:05 -0000
vti_filesize:IR|1106
vti_cachedlinkinfo:VX|S|bg2.jpg
vti_cachedsvcrellinks:VX|FSUS|bg2.jpg
